body {
  padding: 0;
  margin: 0;
  background-color: #9D9D9D;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

.content {
  padding: 0px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li{
  margin-bottom: 10px;
}

.logo, .logo.active, .logo:hover {
  color: white;
  text-decoration: none
}
